.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
.gitmodules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

config/dev_login.config.js
src/config/dev_login.json
config/index.js
