a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input,
textarea {
  outline: none;
  outline-style: none;
}

hr {
  border: none;
  border-top: 1px solid #eeeff6;
}

table {
  border-collapse: collapse;
}

table th {
  font-weight: normal;
}
